/* Project: Online Portfolio
Programmer: Steven Galvin
Filename: styles.css
Date Modified: 05/30/19 */

@import url('https://fonts.googleapis.com/css?family=Lato|Lora&display=swap');

body {
  /* background-color: #fcfcfa; */
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #2f2f2f;
}

/* Navigation Styles */

nav {
  background-color: #fff4e6;
  height: 5em;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #navLogo {
  width: 60px;
  height: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

nav a, nav img {
  height: inherit;
}

nav ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

nav ul li {
  list-style: none;
  padding-left: 2.5em;
}

nav a {
  font-size: 120%;
  text-decoration: none;
  color: #2f2f2f;
}

nav a:visited {
  color: #2f2f2f;
}

nav a:hover {
  color: #4c4c4c;
  transform: scale(1.05);
  transition: border 0.13s ease-in-out, color 0.13s ease-in-out, transform 0.13s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}

/* Hero Image Styles */

#heroImage {
  height: 30em;
  background-image: url("images/hero_placeholder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#heroImage h1 {
  margin-top: 2em;
  margin-left: 2em;
  display: inline-block;
}

#heroImage img {
  height: inherit;
  width: 100%;
}

/* Main Content Styles */

main {
  padding: 1em;
}

/* Footer Styles */

footer {
  background-color: #B89367;
  display: flex;
  height: 3em;
  padding: 1em;
  align-items: center;
  justify-content: center;
}

#copyright {
  font-size: 0.9em;
  font-style: italic;
}
