// main: styles.less

footer {
  border-top: 3px solid @nav-accent;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-item {
  padding: 1.5em;
  a {
    color: @nav-accent;
    text-decoration: none;
    font-family: sans-serif;
  }
}
