/* Project: Personal Music
Programmer: Steven Galvin
Filename: demos.css
Date Modified: 07/29/19 */
/* MOBILE STYLES */
html, body, #flat-black-player-container {
    width: 100%;
    background-color: #171717;
}

/* Flexbox Layout */
#player-screen {
    display: flex;
    flex-direction: column;
}

.player-header {
    flex-basis: 1;
}

#player-top {
    flex-grow: 1;
}

#player-middle {
    flex-basis: 2;
}

/* Navbar Styles */
nav {
    font-family: "Lato", sans-serif;
    padding: .5em;
    color: #fffdf9;
    background-color: #171717;
    font-size: 1.5em;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
    font-size: 3.5em;
    letter-spacing: -5px;
}

#select-playlist-menu, #hamburger-menu {
    height: 3em;
    width: 3em;
}

/* List Container Styles */
#list-screen {
    background-color: #192029;
    display: none;
    color: #fffdf9;
}

/* List Screen Header */
#list-screen-header {
    background-color: #192029;
    font-size: 1.5em;
    padding: .5em;
    height: 4.5em;
    position: relative;
    font-family: "Lato", sans-serif;
    letter-spacing: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#list-screen-header h2 {
    font-size: 2em;
}

#list-screen-header img {
    height: 2.3em;
    width: 2.3em;
}

#list-screen-header #list-header-empty-flex {
    height: 2.3em;
    width: 2.3em;
}

/* .list-active-song-name {
    line-height: 25px;
    font-size: 1.1em;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.5px;
} */
/* List Song Styles */
#list {
    overflow-y: scroll;
}

.song {
    font-size: 1.5em;
    padding: 0.5em 2em;
    background-color: #242b33;
    margin-bottom: .3em;
    height: 6em;
    display: flex;
    justify-content: space-around;
}

.song-number-now-playing {
    flex-basis: 2.5em;
    display: flex;
    align-items: center;
    line-height: 1.6em;
}

.number {
    opacity: 0.5;
    font-family: "Lato", sans-serif;
    font-size: 1.6em;
    color: #fffdf9;
    letter-spacing: 0.5px;
}

.now-playing {
    display: none;
}

.amplitude-active-song-container {
    background-color: #30363e;
}

.amplitude-active-song-container span.song-number-now-playing img.now-playing {
    display: inline-block;
}

.amplitude-active-song-container span.song-number-now-playing span.number {
    display: none;
}

.song-meta-container {
    display: inline-block;
    vertical-align: middle;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.78em 0;
}

.song-name {
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
    color: #61DAFB;
    letter-spacing: 0.2px;
    display: block;
}

.song-artist-album {
    font-family: "Lato", sans-serif;
    font-size: 1.25em;
    line-height: 1.25em;
    color: #fffdf9;
    letter-spacing: 0.2px;
    display: block;
}

.song-duration {
    display: inline-block;
    opacity: 0.5;
    font-family: 'Lato', sans-serif;
    font-size: 1.4em;
    color: #fffdf9;
    letter-spacing: 0.5px;
    flex-basis: 1.2em;
    line-height: 1.4em;
    display: flex;
    align-items: center;
}

/* List Footer Styles */
#list-screen-footer {
    height: 8em;
    padding: 2em;
    display: flex;
}

#list-screen-meta-container {
    flex-grow: 1;
}

#list-screen-meta-container span.song-name {
    font-family: "Lato", sans-serif;
    font-size: 2.2em;
    color: #fffdf9;
    letter-spacing: 0.5px;
    line-height: 2.2em;
}

#list-screen-meta-container div.song-artist-album {
    opacity: 0.5;
    font-family: "Lato", sans-serif;
    font-size: 1.8em;
    color: #fffdf9;
    letter-spacing: 0.5px;
    line-height: 1.8em;
}

.list-controls {
    flex-basis: 20em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-previous img {
    width: 4em;
    height: 4.5em;
}

.list-next img {
    width: 4em;
    height: 4.5em;
}

.list-play-pause {
    width: 5em;
    height: 5.5em;
}

.list-play-pause.amplitude-playing {
    background-image: url("../images/svgs/small_pause.svg");
    background-size: 5em 5.5em;
}

.list-play-pause.amplitude-paused {
    background-image: url("../images/svgs/small_play.svg");
    background-size: 5em 5.5em;
}

/* Player Styles */
#player-screen {
    color: #fffdf9;
}

/* Player Header Styles */
.player-header {
    background-color: #192029;
    font-size: 1.5em;
    padding: .5em;
    height: 4.5em;
    position: relative;
    font-family: "Lato", sans-serif;
    letter-spacing: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-header h2 {
    font-size: 2em
}

.player-header img {
    height: 2.3em;
    width: 2.3em;
}

.player-header #player-header-empty-flex {
    height: 2.3em;
    width: 2.3em;
}

/* Player Top Styles */
#player-top {
    background-color: #171717;
    position: relative;
    padding: 3em;
}

#player-top img[data-amplitude-song-info="cover_art_url"] {
    width: 100%;
    height: calc(100vw * 1);
    object-fit: cover;
}

/* Player Progress Bar Styles */
#player-progress-bar-container {
    width: 100%;
    height: 4px;
    background-color: #171717;
    position: relative;
    margin-top: -6px;
}

progress #song-played-progress {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 4px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    border: none;
    background: transparent;
}

progress #song-played-progress[value]::-webkit-progress-bar {
    background: none;
}

progress #song-played-progress[value]::-webkit-progress-value {
    background: #fffdf9;
}

progress #song-played-progress[value]::-moz-progress-bar {
    background: #fffdf9;
}

progress #song-buffered-progress {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 4px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    border: none;
    background: transparent;
}

progress #song-buffered-progress[value]::-webkit-progress-bar {
    background: none;
}

progress #song-buffered-progress[value]::-webkit-progress-value {
    background-color: rgba(255, 253, 249, 0.5);
    transition: width 0.1s ease;
}

progress #song-buffered-progress[value]::-moz-progress-bar {
    background: rgba(255, 253, 249, 0.5);
}

/* Player Middle Styles */
#player-middle {
    background-color: #171717;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}

#player-middle div#time-container {
    color: #fffdf9;
    width: 100%;
    background-color: #171717;
    font-size: 14px;
    font-weight: bold;
}

.player-screen-song-name {
    color: #fffdf9;
}

/* Player Bottom Styles */
#player-bottom {
    background-color: #232c39;
    padding-left: 25px;
    padding-right: 25px;
}

#player-bottom div#control-container {
    height: 7em;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#player-bottom #player-screen-main-control-container {
    flex-grow: 1;
    max-width: 30em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Shuffle Styles */
#player-bottom div#control-container div#shuffle-container {
    height: 3.5em;
    flex-basis: 3em;
}

#player-bottom div#control-container div#shuffle-container div#shuffle {
    width: 3em;
    height: 3.5em;
    margin: auto;
    opacity: 0.7;
}

#player-bottom div#control-container div#shuffle-container div#shuffle.amplitude-shuffle-off {
    background: url("../images/svgs/shuffle.svg");
    background-repeat: no-repeat;
    background-size: 3em 3.5em;
}

#player-bottom div#control-container div#shuffle-container div#shuffle.amplitude-shuffle-on {
    background: url("../images/svgs/shuffle_on.svg");
    background-repeat: no-repeat;
    background-size: 3em 3.5em;
    opacity: 1;
}

#player-bottom div#control-container div#shuffle-container div#shuffle.amplitude-shuffle-on:hover {
    opacity: 1;
}

/* Previous Styles */
#player-bottom div#control-container div#prev-container {
    flex-basis: 5em;
    height: 5em;
}

#player-bottom div#control-container div#prev-container div#previous {
    background: url("../images/svgs/previous.svg");
    background-repeat: no-repeat;
    background-size: 5em 5em;
    height: 5em;
    width: 5em;
    margin: auto;
}

/* Play/Pause Styles */
#player-bottom div#control-container div#play-pause-container {
    flex-basis: 8em;
    height: 8em;
}

#player-bottom div#control-container div#play-pause-container div#play-pause {
    width: 8em;
    height: 8em;
    margin: auto;
}

#player-bottom div#control-container div#play-pause-container div#play-pause.amplitude-playing {
    background: url("../images/svgs/pause.svg");
    background-repeat: no-repeat;
    background-size: 8em 8em;
}

#player-bottom div#control-container div#play-pause-container div#play-pause.amplitude-paused {
    background: url("../images/svgs/play.svg");
    background-repeat: no-repeat;
    background-size: 8em 8em;
}

/* Next Styles */
#player-bottom div#control-container div#next-container {
    width: 5em;
    height: 5em;
}

#player-bottom div#control-container div#next-container div#next {
    background: url("../images/svgs/next.svg");
    background-repeat: no-repeat;
    background-size: 5em 5em;
    height: 5em;
    width: 5em;
    margin: auto;
}

/* Repeat Styles */
#player-bottom div#control-container div#repeat-container {
    height: 3.5em;
    flex-basis: 3em;
}

#player-bottom div#control-container div#repeat-container div#repeat {
    background: url("../images/svgs/repeat.svg");
    background-repeat: no-repeat;
    background-size: 3em 3.5em;
    width: 3em;
    height: 3.5em;
    margin: auto;
    opacity: 0.7;
}

#player-bottom div#control-container div#repeat-container div#repeat:hover {
    background: url("../images/svgs/repeat_on.svg");
    background-size: 3em 3.5em;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#player-bottom div#control-container div#repeat-container div#repeat.amplitude-repeat-on {
    background: url("../images/svgs/repeat_on.svg");
    background-size: 3em 3.5em;
    background-repeat: no-repeat;
    opacity: 1;
}

/* Volume Control Styles */
#player-bottom div#volume-container {
    text-align: center;
    padding-bottom: 20px;
}

#player-bottom div#volume-container img {
    display: block;
    float: left;
    margin-top: -9px;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider {
    width: calc(100% - 30px);
    -webkit-appearance: none;
    display: block;
    margin-left: 10px;
    float: left;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider:focus {
    outline: none;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-webkit-slider-runnable-track {
    width: 75%;
    height: 2px;
    animate: 0.2s;
    background: #cfd8dc;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-webkit-slider-thumb {
    height: 18px;
    width: 18px;
    background-color: #fffdf9;
    margin-top: -8px;
    -webkit-appearance: none;
    border-radius: 20px;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider:focus::-webkit-slider-runnable-track {
    background: #cfd8dc;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-moz-range-track {
    width: 100%;
    height: 1px;
    animate: 0.2s;
    background: #cfd8dc;
}

player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-moz-range-thumb {
    height: 18px;
    width: 18px;
    background-color: #fffdf9;
    margin-top: -8px;
    -webkit-appearance: none;
    border-radius: 20px;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-ms-track {
    width: 100%;
    height: 2px;
    animate: 0.2s;
    background: #cfd8dc;
    border-width: 15px 0;
    color: transparent;
    border-color: #192029;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-ms-fill-lower {
    background: transparent;
    border-radius: 2.6px;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-ms-fill-upper {
    background: transparent;
    border-radius: 2.6px;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-ms-thumb {
    height: 18px;
    width: 18px;
    background-color: #fffdf9;
    cursor: pointer;
    margin-top: 0px;
    border: 20px;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider:focus::-ms-fill-lower {
    background: #cfd8dc;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-ms-fill-upper {
    background: #cfd8dc;
}

#player-bottom div#volume-container input[type="range"].amplitude-volume-slider::-ms-tooltip {
    display: none;
}

#player-bottom div#volume-container:after {
    content: "";
    display: table;
    clear: both;
}