/* Project: Personal Music
Programmer: Steven Galvin
Filename: jay_kalsifer.css
Date Modified: 07/29/19 */

/* Main Content Styles */

body {
  /* background-color: #2f2f2f;
  background-image: url("../images/jay_kalsifer_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

#username h1 {
  color: #2f2f2f;
  font-size: 3em;
  text-shadow:
   -0.5px -0.5px 0 #fcfcfacc,
    0.5px -0.5px 0 #fcfcfacc,
    -0.5px 0.5px 0 #fcfcfacc,
     0.5px 0.5px 0 #fcfcfacc;
}

h2 {
  color: #fcfcfa;
  font-size: 1.3em;
  text-shadow:
   -0.5px -0.5px 0 #2f2f2fcc,
    0.5px -0.5px 0 #2f2f2fcc,
    -0.5px 0.5px 0 #2f2f2fcc,
     0.5px 0.5px 0 #2f2f2fcc;
}

#selfie {
  width: 10em;
  height: 10em;
  background-image: url("../images/selfie.jpg");
  border: 2px solid #2f2f2f;
  border-radius: 100%;
  background-position: top;
  background-size: cover;
}

.link {
  text-decoration: none;
  width: 100%;
  padding: 10px;
  color: #fcfcfa;
  font-size: 1.3em;
  border: 3px solid #2f2f2f;
  background: #2f2f2f4d;
  margin-top: 2em;
  text-align: center;
}

.link:first-child {
  margin-top: 0;
}

.link:hover {
  background: #fcfcfa4d;
  color: #2f2f2f;
  border: 3px solid #fcfcfa;
}

#desktop_links {
  width: 25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#mobile_links {
  display: none;
}

#wrapper {
  background-color: #2f2f2f;
  background-image: url("../images/jay_kalsifer_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

/* Tablet Media Query */
/* @media only screen and (max-width: 1024px) {
  body {
    background-size: auto 100vh;
  }

  main {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
 */
/* Smartphone Media Querie */
@media only all and (max-width: 768px) {
  body {
    background-size: auto 100vh;
  }

  main {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .link {
    width: 80%;
  }

  #desktop_links {
    display: none;
  }

  #mobile_links {
    display: block;
    width: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
