<!-- Project: Personal Music
Programmer: Steven Galvin
Filename: demos.html
Date Modified: 07/29/19 -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Demos & Beats</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5277b0">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#fffdf9">

  <!-- Include font -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="../assets/styles/normalize.css">
  <link rel="stylesheet" media='screen and (max-width: 1024px)' href="../assets/styles/demos.css">
  <link rel="stylesheet" media='screen and (min-width: 1024px)' href="../assets/styles/demos_desktop.css">

  <!-- Scripts -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@latest/dist/amplitude.min.js"></script>
</head>

<body>
  <nav>
    <h1>Beats and Demos</h1>
    <div id="select-playlist-menu">
      <!-- <img id="hamburger-menu" src="../assets/images/svgs/menu.svg"> -->
    </div>
  </nav>
  <div id="flat-black-player-container">
    <div id="list-screen" class="slide-in-top">
      <div id="list-screen-header" class="hide-playlist">
        <img id="up-arrow" src="../assets/images/svgs/up.svg" alt="Hide Playlist Icon" />
        <h2>Hide Playlist</h2>
        <div id="list-header-empty-flex">

        </div>
      </div>

      <div id="list">
        <div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="0">
          <span class="song-number-now-playing">
            <span class="number">1</span>
            <img class="now-playing" alt="Now Playing Icon" src="../assets/images/svgs/now_playing.svg" />
          </span>

          <div class="song-meta-container">
            <span class="song-name" data-amplitude-song-info="name" data-amplitude-song-index="0"></span>
            <span class="song-artist-album"><span data-amplitude-song-info="artist" data-amplitude-song-index="0"></span> - <span data-amplitude-song-info="album" data-amplitude-song-index="0"></span></span>
          </div>

          <span class="song-duration">
            2:04
            <span>
        </div>
        <div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="1">
          <span class="song-number-now-playing">
            <span class="number">2</span>
            <img class="now-playing" alt="Now Playing Icon" src="../assets/images/svgs/now_playing.svg" />
          </span>

          <div class="song-meta-container">
            <span class="song-name" data-amplitude-song-info="name" data-amplitude-song-index="1"></span>
            <span class="song-artist-album"><span data-amplitude-song-info="artist" data-amplitude-song-index="1"></span> - <span data-amplitude-song-info="album" data-amplitude-song-index="1"></span></span>
          </div>

          <span class="song-duration">
            2:22
            <span>
        </div>
        <div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="2">
          <span class="song-number-now-playing">
            <span class="number">3</span>
            <img class="now-playing" alt="Now Playing Icon" src="../assets/images/svgs/now_playing.svg" />
          </span>

          <div class="song-meta-container">
            <span class="song-name" data-amplitude-song-info="name" data-amplitude-song-index="2"></span>
            <span class="song-artist-album"><span data-amplitude-song-info="artist" data-amplitude-song-index="2"></span> - <span data-amplitude-song-info="album" data-amplitude-song-index="2"></span></span>
          </div>

          <span class="song-duration">
            3:12
            <span>
        </div>
        <div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="3">
          <span class="song-number-now-playing">
            <span class="number">4</span>
            <img class="now-playing" alt="Now Playing Icon" src="../assets/images/svgs/now_playing.svg" />
          </span>

          <div class="song-meta-container">
            <span class="song-name" data-amplitude-song-info="name" data-amplitude-song-index="3"></span>
            <span class="song-artist-album"><span data-amplitude-song-info="artist" data-amplitude-song-index="3"></span> - <span data-amplitude-song-info="album" data-amplitude-song-index="3"></span></span>
          </div>

          <span class="song-duration">
            2:17
            <span>
        </div>
        <div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="4">
          <span class="song-number-now-playing">
            <span class="number">5</span>
            <img class="now-playing" alt="Now Playing Icon" src="../assets/images/svgs/now_playing.svg" />
          </span>

          <div class="song-meta-container">
            <span class="song-name" data-amplitude-song-info="name" data-amplitude-song-index="4"></span>
            <span class="song-artist-album"><span data-amplitude-song-info="artist" data-amplitude-song-index="4"></span> - <span data-amplitude-song-info="album" data-amplitude-song-index="4"></span></span>
          </div>

          <span class="song-duration">
            2:53
            <span>
        </div>
        <div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="5">
          <span class="song-number-now-playing">
            <span class="number">6</span>
            <img class="now-playing" alt="Now Playing Icon" src="../assets/images/svgs/now_playing.svg" />
          </span>

          <div class="song-meta-container">
            <span class="song-name" data-amplitude-song-info="name" data-amplitude-song-index="5"></span>
            <span class="song-artist-album"><span data-amplitude-song-info="artist" data-amplitude-song-index="5"></span> - <span data-amplitude-song-info="album" data-amplitude-song-index="5"></span></span>
          </div>

          <span class="song-duration">
            0:30
            <span>
        </div>
        <div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index="6">
          <span class="song-number-now-playing">
            <span class="number">7</span>
            <img class="now-playing" alt="Now Playing Icon" src="../assets/images/svgs/now_playing.svg" />
          </span>

          <div class="song-meta-container">
            <span class="song-name" data-amplitude-song-info="name" data-amplitude-song-index="6"></span>
            <span class="song-artist-album"><span data-amplitude-song-info="artist" data-amplitude-song-index="6"></span> - <span data-amplitude-song-info="album" data-amplitude-song-index="6"></span></span>
          </div>

          <span class="song-duration">
            2:51
            <span>
        </div>
      </div>

      <div id="list-screen-footer">
        <div id="list-screen-meta-container">
          <span data-amplitude-song-info="name" class="song-name"></span>

          <div class="song-artist-album">
            <span data-amplitude-song-info="artist"></span>
          </div>
        </div>
        <div class="list-controls">
          <div class="list-previous amplitude-prev">
            <img src="../assets/images/svgs/small_previous.svg" alt="Previous Song">
          </div>
          <div class="list-play-pause amplitude-play-pause"></div>
          <div class="list-next amplitude-next">
            <img src="../assets/images/svgs/small_next.svg" alt="Next Song">
          </div>
        </div>
      </div>
    </div>
    <div id="player-screen">
      <div class="player-header down-header">
        <img id="down" src="../assets/images/svgs/down.svg" alt="Show Playlist Icon" />
        <h2>Show Playlist</h2>
        <div id="player-header-empty-flex">

        </div>
      </div>
      <div id="player-top">
        <img data-amplitude-song-info="cover_art_url" alt="Album Cover" />
      </div>
      <div id="player-progress-bar-container">
        <progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
        <progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0"></progress>
      </div>
      <div id="player-middle">
        <div id="time-container">
          <span class="amplitude-current-time time-container"></span>
          <span class="amplitude-duration-time time-container"></span>
        </div>
        <div id="meta-container">
          <span data-amplitude-song-info="name" class="song-name player-screen-song-name"></span>

          <span data-amplitude-song-info="artist" class="song-artist-album player-screen-artist"></span>
        </div>
      </div>
      <div id="player-bottom">
        <div id="control-container">

          <div id="shuffle-container">
            <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
          </div>

          <div id="player-screen-main-control-container">
            <div id="prev-container">
              <div class="amplitude-prev" id="previous"></div>
            </div>

            <div id="play-pause-container">
              <div class="amplitude-play-pause" id="play-pause"></div>
            </div>

            <div id="next-container">
              <div class="amplitude-next" id="next"></div>
            </div>
          </div>

          <div id="repeat-container">
            <div class="amplitude-repeat" id="repeat"></div>
          </div>

        </div>

        <div id="volume-container">
          <img src="../assets/images/svgs/volume.svg" alt="Volume Control Icon" /><input type="range" class="amplitude-volume-slider" step=".1" />
        </div>
      </div>
    </div>
  </div>

</body>

<!-- Scripts -->
<script type="text/javascript" src="../assets/scripts/amplitude/demos_init.js"></script>
<script type="text/javascript" src="../assets/scripts/amplitude/demos_functions.js"></script>

</html>