<!-- Project: Personal Music
Programmer: Steven Galvin
Filename: latest_music.html
Date Modified: 07/29/19 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="96x96" href="../assets/images/logo_v1.png">
  <link rel="stylesheet" href="../assets/styles/normalize.css">
  <link rel="stylesheet" href="../assets/styles/main.css">
  <title>Links to my latest music</title>
</head>

<div id="wrapper">
  <body>
    <main>
      <div id="selfie">
      </div>
      <div id="username">
        <h1>Jay Kalsifer</h1>
      </div>
      <h2>Checkout my album "To the Top: Boldly"</h2>
      <div id="desktop_links">
        <a href="https://music.apple.com/us/album/to-the-top-boldly/1474184611" target="_blank" class="link">
          To the Top: Boldly - Apple Music
        </a>
        <a href="https://open.spotify.com/album/4CqKWjWaCuyhMPWQ0kIkBb" target="_blank" class="link">
          To the Top: Boldly - Spotify
        </a>
        <a href="https://www.youtube.com/playlist?list=OLAK5uy_koU8hFr_7fk_GiO2i9jGNZT2AloXGbyrE" target="_blank" class="link">
          To the Top: Boldly - YouTube
        </a>
      </div>
      <div id="mobile_links">
        <a href="https://music.apple.com/us/album/to-the-top-boldly/1474184611" class="link">
          To the Top: Boldly - Apple Music
        </a>
        <a href="https://open.spotify.com/album/4CqKWjWaCuyhMPWQ0kIkBb" class="link">
          To the Top: Boldly - Spotify
        </a>
        <a href="https://www.youtube.com/playlist?list=OLAK5uy_koU8hFr_7fk_GiO2i9jGNZT2AloXGbyrE" class="link">
          To the Top: Boldly - YouTube
        </a>
      </div>
    </main>
  </body>
</div>

</html>
